:root {
  --cor-texto: #010f33;
}
.modal {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: var(--cor-texto);
}
.modal__conteudo {
  display: flex;
  flex-direction: column;
  padding-left: 65px;
  padding-top: 25px;
  background-color: #fefefe;
  margin: 8% 36.5% 10% 31.5%;
  border: 1px solid #888;
  border-radius: 25px;
}
.modal__conteudo__principal {
  display: flex;
  flex-direction: column;
  padding-right: 12%;
  width: auto;
  gap: 20px;
}
.modal__conteudo h1 {
  font-size: 50px;
  color: var(--cor-texto);
}
.modal__conteudo p {
  line-height: 25px;
}
.modal__conteudo button {
  margin-top: 10px;
  padding: 18px;
  border-radius: 10px;
  border: transparent;
  color: white;
  font-weight: 400;
  cursor: pointer;
  background: linear-gradient(
    90deg,
    hsl(327, 81%, 62%) 0%,
    hsl(4, 100%, 67%) 100%
  );
}
