@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap");

:root {
  --cor-texto: #010f33;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  display: flex;
  height: 100vh;
  align-items: center;
  /*margin: 10% 21% 0% 21%;*/
  font-family: "Roboto", sans-serif;
  background-color: #010f33;
}
.conteudo {
  display: flex;
  padding: 25px;
  max-width: max-content;
  margin: auto;
  border-radius: 20px;
  background-color: white;
  gap: 20px;
}
.conteudo__principal {
  display: flex;
  padding-top: 6%;
  flex-direction: column;
}
.conteudo__principal h1 {
  font-size: 50px;
  margin-bottom: 2%;
  color: var(--cor-texto);
}
.grafico {
  max-height: 100%;
  height: 470px;
}
.imagem {
  height: 470px;
}
.lista-de-vantagens {
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin-top: 30px;
}
.lista-de-vantagens span {
  display: flex;
  gap: 10px;
}
.email {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-top: 40px;
  gap: 6px;
  font-weight: 700;
}
.email input {
  border-radius: 10px;
  padding: 20px;
  width: 100%;
  border-style: solid;
  border-color: gray;
}
.botao-inscrever {
  margin-top: 15px;
  border: transparent;
  border-radius: 10px;
  padding: 20px;
  font-family: "Roboto", sans-serif !important;
  background: linear-gradient(
    90deg,
    hsl(327, 81%, 62%) 0%,
    hsl(4, 100%, 67%) 100%
  );
  color: white;
  font-weight: 700;
  font-size: 17px;
  cursor: pointer;
}
.email__incorreto {
  color: red;
}
.email__correto {
  color: lightseagreen;
}
.verifica-email {
  overflow: hidden;
  position: relative;
  z-index: 1;
  opacity: 0;
  font-weight: 400;
  transition: background-color 1s;
}
.verifica-email::after {
  content: "";
  position: absolute;
  left: -100%;
  right: 100%;
  z-index: -1;
  display: block;
  padding: 8px;
  top: 80%;
  background: linear-gradient(
    90deg,
    hsl(327, 69%, 75%) 5%,
    hsl(4, 84%, 52%) 100%
  );
  transition: all 0.8s;
}
.verifica-email.ativado::after {
  left: 0;
  right: 0;
  transition: all 0.8s;
}
