@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap");

:root {
  --cor-texto: #010f33;
}
* {
  margin: 0;
  padding: 0;
}
body {
  box-sizing: border-box;
  margin: 4.5% 20% 0% 20%;
  font-family: "Roboto", sans-serif;
  background-color: #010f33;
}
.conteudo {
  display: flex;
  padding-top: 20px;
  padding-bottom: 20px;
  border-radius: 20px;
  background-color: white;
  gap: 50px;
}
.conteudo__principal {
  display: flex;
  padding-right: 20px;
  margin-left: 50px;
  padding-left: 10px;
  padding-top: 6%;
  flex-direction: column;
}
.conteudo__principal h1 {
  font-size: 50px;
  padding-left: 2%;
  margin-bottom: 2%;
  color: var(--cor-texto);
}
.grafico {
  max-width: 100%;
  min-height: 100%;
  max-height: 100%;
}
.imagem {
  padding-right: 3%;
}
.lista-de-vantagens {
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin-top: 30px;
}
.lista-de-vantagens span {
  display: flex;
  gap: 10px;
}
.email {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-top: 40px;
  gap: 6px;
  font-weight: 700;
}
.email input {
  border-radius: 10px;
  padding: 20px;
  width: 100%;
  border-style: solid;
  border-color: gray;
}
.botao-inscrever {
  margin-top: 15px;
  border-radius: 10px;
  padding: 20px;
  background-color: #010f33;
  color: white;
  font-weight: 700;
  cursor: pointer;
}
.email__incorreto {
  color: red;
}
.email__correto {
  color: lightseagreen;
}
.verifica-email {
  overflow: hidden;
  position: relative;
  z-index: 1;
  opacity: 0;
  font-weight: 400;
  transition: background-color 1s;
}
.verifica-email::after {
  content: "";
  position: absolute;
  left: -100%;
  right: 100%;
  z-index: -1;
  display: block;
  padding: 8px;
  top: 80%;
  background: linear-gradient(
    90deg,
    hsl(327, 69%, 75%) 5%,
    hsl(4, 84%, 52%) 100%
  );
  transition: all 0.8s;
}
.verifica-email.ativado::after {
  left: 0;
  right: 0;
  transition: all 0.8s;
}
